.mainToDoTemplate {
    padding: 50px;
    margin: 50px;
    margin-bottom: 0px;
    width: 400px;
    height: 900px;
    border: 1px none black;
    border-bottom: none;
    box-shadow: 5px 5px 5px 1px gray;
    background-color: #FFD400;
}