li {
    display: flex;
    justify-content: space-between;
    list-style:none;
    border: none;
    // border-radius: 5px;
    margin-bottom: 10px;
    // padding: 5px;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(151, 151, 151);
    // background-color: #858585
    // background-color: rgba(49, 49, 49, 0.2)
    // opacity: 0.5;
}

.checkBtn, .deleteBtn {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.checkBtn {
    margin: 0px 5px;
}