@import '@/Common.scss';

li {
    font-family: $font;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    list-style:none;
    border: none;
}

.checkBtn, .deleteBtn {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.checkBtn {
    margin: 0px 5px;
}

.checked {
    text-decoration:line-through
}

.modifyInput {
    width: 100%;
    border: none;
    background-color: transparent;
}

.modifyInput:focus {
    outline: none;
}